p {
    animation-duration: 4s;
    animation-name: animTexto;
    margin: 20px;
}

@keyframes animTexto {
    from {
    margin-left: 100%;
    width: 100%;
    }
    to {
    margin-left: 0%;
    width: 100%;
    }
}